
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities/api";

$pallet: (
  'rosewater': #f4dbd6,
  'flamingo': #f0c6c6,
  'pink': #f5bde6,
  'mauve': #c6a0f6,
  'red': #ed8796,
  'marron': #ee99a0,
  'peach': #f5a97f,
  'yellow': #eed49f,
  'green': #a6da95,
  'teal': #8bd5ca,
  'sky': #91d7e3,
  'sappire': #7dc4e4,
  'blue': #8aadf4,
  'lavender': #b7bdf8,
  'text': #cad3f5,
  'subtext1': #b8c0e0,
  'subtext0': #a5adcb,
  'overlay': #939ab7,
  'base': #24273a,
  'mantle': #1e2030,
  'crust': #181926
);

header {
    font-family: 'Courier New', Courier, monospace;
    background: $base;
    color: $text;
    text-align: center;
}

#MainBtn, #SecBtn {
  // add buttons style
}